
			<div class='col-lg-12'>
				<div class='row' id='NewClassButtonContainer'>
					<div class='col-lg-12 col-md-12 col-sm-12 col-xs-height col-full-height'>
						<div id='NewClassButton' class="FormButton">
							<div id="NewClassButtonClickable" tabindex="0" class="FormButtonContent FormButtonDark" style='margin-top: 10px;' onclick='fetchContent("MANAGECLASSES");'>
								<span>{{CLASSLIST_BUTTON_NEW_INSTANCE}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-lg-12'>
			{{#CLASSLIST}}
				{{{ROWSTART}}}
				<div class='col-lg-3 col-md-3 col-sm-3 col-xs-height col-full-height Cell InstanceEntry {{CLASS}}' style='{{STYLE}}'>
					<div class='InstanceTile' style='width: 98%; height: 200px; position: relative; top: 0; left: 0;' >
						<div class='Middle ClassTileImageDiv' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; background: URL("{{GLYPH}}");
							background-size: 100%;
							background-position: 50% 50%;
							background-repeat: no-repeat;'>
						</div>
						{{#ISTEACHER}}
							<div class='Middle ClassTileOverlayDiv' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; opacity: 0;'>
								<div tabindex="0" class='HoveringTileMenu' Class_ID="{{ID}}"  role="button"><img class='HoveringTileMenuImage' src='{{TEMPLATE_DIR}}/images/menu.svg'></div>
							</div>
						{{/ISTEACHER}}
						{{#ISENROLLED}}
							<a tabindex="0" class='ClassListAction' href='javascript: openClassID = {{ID}}; fetchContent("CLASS");'>
								<div id='butts' class='Middle ClassTileOverlayDiv PointerCursor' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; opacity: 0;'>
								<div style='width: 100%; margin-left: auto; margin-right: auto;  text-align: center;'></div>
							</div>
							</a>
						{{/ISENROLLED}}
						{{#ISPUBLIC}}
							<a class='ClassListAction' href='javascript: openClassID = {{ID}}; fetchContent("CLASS");'>
								<div class='Middle ClassTileOverlayDiv PointerCursor publicclass' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; opacity: 0;'>
									<div style='width: 100%; margin-left: auto; margin-right: auto; text-align: center;'>
										<img src='{{TEMPLATE_DIR}}/images/public.svg' style='margin-top: 48px; height: 50px;' data-toggle='tooltip' data-placement='top' title='{{CLASSLIST_TOOLTIP_PUBLIC}}'>
									</div>
								</div>
							</a>
						{{/ISPUBLIC}}
						{{#ISNOTENROLLED}}
							<a class='ClassListAction' href='javascript: enrollClassID = {{ID}}; doEnroll();'>
								<div class='Middle ClassTileOverlayDiv notenrolledclass' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; opacity: 0;'>
									<div style='width: 100%; margin-left: auto; margin-right: auto; text-align: center;'>
										<div class='MediumButton'>
											<img src='{{TEMPLATE_DIR}}/images/enroll.svg' style='margin-top: 48px; height: 50px;' data-toggle='tooltip' data-placement='top' title='{{CLASSLIST_TOOLTIP_ENROLL}}'>
										</div>
									</div>
								</div>
							</a>
						{{/ISNOTENROLLED}}
						<div tabindex="0" class='Middle ClassTileTextDiv' style='width: 100%; position: absolute; top:143px; left: 0; height: 51px; ' onclick='openClassID = {{ID}}; fetchContent("CLASS"); return false;'>
							<h3 class='InstanceName'>{{NAME}}</h3>
						</div>
					</div>
				</div>
				{{{ROWEND}}}
			{{/CLASSLIST}}
			</div>
			<div class='col-lg-12'>
				<div class='row' id='NewClassButtonContainer'>
					<div class='col-lg-12 col-md-12 col-sm-12 col-xs-height col-full-height'>
						<a id='MoreClassesButton' href='#'>
							<div class="FormButton">
								<div class="FormButtonContent" style='margin-top: 10px;'>
									<span id="MoreClassesText" data-text-swap="{{CLASSLIST_BUTTON_HIDE_OTHER}}">{{CLASSLIST_BUTTON_OTHER_CLASSES}}</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div id='HoveringMenu' class='HoveringMenu'>
				<div class='HoveringMenuEntry' onclick='fetchContent("CLASS")'>{{CLASSLIST_MENU_OPEN_CLASS}}</div>
				<div class='HoveringMenuEntry' onclick='PageToOpen = 2; fetchContent("CLASS")'>{{CLASSLIST_MENU_EDIT_CLASS}}</div>
				<div class='HoveringMenuEntry' onclick='PageToOpen = 2; fetchContent("MANAGECLASSES")'>{{CLASSLIST_MENU_EDIT_USERS}}</div>
			</div>

			<script type='text/javascript'>
				UserCheck();

				if(userInfo["role"] == 2){
					$("#NewClassButtonContainer").show();
				}else{
					$("#NewClassButtonContainer").hide();
				}

				$('.InstanceTile').hover(makeBigger, returnToOriginalSize);
				$('.ClassListAction').parent().focusin(makeBigger);
				$('.ClassListAction').parent().focusout(returnToOriginalSize);

				$(".HoveringTileMenu").click(function(e){
					openClassID = parseInt($(this).attr("Class_ID"));
					var x = e.pageX;
					var y = e.pageY;
					$("#HoveringMenu").css({"top": y, "left": x - 40}).show();
				}).mouseleave(function(){
					$("#HoveringMenu").hide();
				})

				$(".HoveringMenu").mouseenter(function(e){
					$("#HoveringMenu").show();
				}).mouseleave(function(){
					$("#HoveringMenu").hide();
				})

				function makeBigger() {
					//$(this).animate({height: '+=10', width: '+=10', margin: '-=5'});
					$(this).css({zIndex: 10});
					$(this).children(".ClassTileImageDiv").css({opacity: 0.5});
					$(this).children(".ClassTileOverlayDiv").css({opacity: 0.8, display: "block"});
					$(this).children("a").children(".ClassTileImageDiv").css({opacity: 0.5});
					$(this).children("a").children(".ClassTileOverlayDiv").css({opacity: 0.8, display: "block"});
					//$(this).children(".ClassTileImageDiv").animate({height: "+=10", opacity: "0.3"});
					//$(this).children(".ClassTileOverlayDiv").animate({height: "+=10", opacity: "0.8"});
					//$(this).children(".ClassTileTextDiv").animate({top: "+=9"});
				}
				function returnToOriginalSize() {
					//$(this).animate({height: '-=10', width: '-=10', margin: '+=5'});
					$(this).css({zIndex: 0});
					$(this).children(".ClassTileImageDiv").css({opacity: 1});
					$(this).children(".ClassTileOverlayDiv").css({opacity: 0, display: "none"});
					$(this).children("a").children(".ClassTileImageDiv").css({opacity: 1});
					$(this).children("a").children(".ClassTileOverlayDiv").css({opacity: 0, display: "none"});
					//$(this).children(".ClassTileImageDiv").animate({height: "-=10", opacity: "1"});
					//$(this).children(".ClassTileOverlayDiv").animate({height: "-=10", opacity: "0"});
					//$(this).children(".ClassTileTextDiv").animate({top: "-=9"});
				}

				$("#MoreClassesButton").click(function(){
					$(".notenrolledclass").fadeToggle();
					$(".publicclass").fadeToggle();
					var el = $("#MoreClassesText");
				  if (el.text() == el.data("text-swap")) {
				    el.text(el.data("text-original"));
				  } else {
				    el.data("text-original", el.text());
				    el.text(el.data("text-swap"));
				  }

					return false;
				});
				$('[data-toggle="tooltip"]').tooltip();

				//To make div-s accessible with tab + enter
				$("#NewClassButtonClickable").keyup(function(event){
					if(event.keyCode == 13)
						fetchContent("MANAGECLASSES");
				});
				$('.ClassTileTextDiv').keyup(function(event){
					if(event.keyCode == 13)
						$(this).click();
				});
				$(".HoveringTileMenu").keyup(function(event){
					if(event.keyCode == 13)
						$(this).show();
				});

			</script>
