.ContentHeader{
	color: #0000ff;
}

.ContentHeaderDark{
	color: #0000ff;
}

.FormButtonContent{
	background-color: #0000ff;
}

.FormButtonContent:hover{
	background-color: #ff0000;
}

.FormButtonContent{
	background-color: #0000ff;
}

.InstanceTile{
	background-color: #0000ff;
	color: white;
}

.InstanceTile:hover{
	background-color: #ff0000;
	color: white;
}

.InstanceName {
	color: #ffffff;
}

#cookie-bar .cb-enable{
	background-color: #0000ff;
}

#cookie-bar .cb-enable:hover{
	background-color: #ff0000;
}

.PageHeaderTitle{
	color: #0000ff;
}

.ContentHeader{
	color: #0000ff;
}

.ContentHeaderDark{
	color: #0000ff;
}

.NavigationItemSelected{
	color: #0000ff;
}

.NavigationItemSelected:hover{
	color: #ff0000;
}

.NavigationItemSelected:active{
	color: #0000ff;
}

.NavigationItemSelected:visited{
	color: #0000ff;
}

.NavigationItemUnselected{
	color: #000000;
}

.NavigationItemUnselected:hover{
	color: #ff0000;
}

.NavigationItemUnselected:active{
	color: #000000;
}

.NavigationItemUnselected:visited{
	color: #000000;
}

.NavigationItemDisabled{
	color: #888888;
}

.NavigationItemDisabled:hover{
	color: #888888;
}

.NavigationItemDisabled:active{
	color: #888888;
}

.NavigationItemDisabled:visited{
	color: #888888;
}

.NavigationContainer{
	background-color: #ffffff;
	border: 1px solid #000000;
}

.FormContainer{
	background-color: #ffffff;
	border: 1px solid #000000;
}

.navbar-default{
	border-bottom: solid 1px #000000;
	color: #000000;
}

.navbar .container .navbar-brand, .navbar-default .navbar-nav li a{
	color: #000000;
}

.navbar .container .navbar-brand:hover, .navbar-default .navbar-nav li a:hover{
	color: #ff0000;
}
