	<div class='FirstContentContainer'>
		<div class="row">
			<div class="col-lg-12 PageHearderContainer">
				<h3 class='ContentHeader'>{{DASH_PAGE_HEADER}}</h3>
				<img src='{{TEMPLATE_DIR}}/images/line.svg' class='PageHeaderLineImg'>
			</div>
		</div>
		<div class="row" id='ClassList'>

		</div>
	</div>
	<script type='text/javascript'>
		UserCheck();

		var classes = {};
		var enrollClassID = -1;
		var validationParamsClassGetAll = {
			apiURL: "api/ClassGetForUser.php",
			method: "GET",
			alertOnSuccess: false,
			alertOnFail: true,
			callback: function(response){

				if(response.result != "SUCCESS"){
					//console.log(response);
				}

				classes = response.classlist;
				$("#ClassList").html("");

				//Do it in order: teacher (2), student (1), public (3), unenrolled (0)
				var displayOrder = [2, 1, 3, 0];
				template_classes = {"CLASSLIST": []};
				var count = 0;
				for(var currentTypeDisplayedIndex in displayOrder){
					var currentTypeDisplayed = displayOrder[currentTypeDisplayedIndex];

					if(typeof classes != "udnefined"){
						for(var i = 0; i < classes.length; i++){
							var cl = classes[i];
							var classID = cl["id"];
							var isPublic = cl["is_public"];
							var enrolled = cl["enrolled"];
							var isEnrolled = false;
							var enrolledText = "";

							if(isAdmin){
								enrolled = 2;
							}

							/*
							var html = "";
							html +=	"<div class='col-lg-3 col-md-3 col-sm-3 col-xs-height col-full-height Cell'>";
							if(enrolled == 0){
								html += "		<a class='btn btn-success' href='#' role='button' style='position: absolute; bottom: 0; right: 0;' onclick='enrollClassID = "+classID+"; doEnroll(); return false;' classID='"+classID+"'>{{DASH_CLASS_ENROLL_BUTTON}}</a>"
							}
							if(enrolled == 1){
								html += "		<a class='btn btn-warning' href='#' role='button' style='position: absolute; bottom: 0; right: 0;' onclick='enrollClassID = "+classID+"; doUnenroll(); return false;' classID='"+classID+"'>{{DASH_CLASS_UNENROLL_BUTTON}}</a>"
							}
							html +=	"		<div class='ClassTile' style='height: 262.5px' onclick='openClassID = "+(cl.id)+"; fetchContent(\"CLASS\"); return false;'>";
							html +=	"			<div class='Middle Width500px' style='height: 170.5px'>";
							html +=	"				<img src='"+(cl.glyph)+"' class='ClassImage' />";
							html +=	"			</div>";
							html +=	"			<div style='height: 62px'>";
							html +=	"				<h3 class='ContentHeader'>"+(cl.name)+"</h3>";
							html +=	"			</div>";
							html +=	"			<div style='height: 20px' class='EnrolledBar"+enrolled+"'>";
							html +=	"				<span>"+(enrolledText)+"</span>";
							html +=	"			</div>";
							html +=	"		</div>";
							html +=	"	</div>";
							$("#ClassList").append(Mustache.render(html, SiteLanguage));
							*/

							var rowStart = "";
							var rowEnd = "";

							if(count % 4 == 0){
								rowStart = "<div class='row rs'>";
							}
							if(count % 4 == 3){
								rowEnd = "</div re>";
							}

							if(classes.length == count + 1){
								//Close the last one
								rowEnd = "</div>";
							}

							var classParameters = {"ID": classID, "ROWSTART": rowStart, "ROWEND": rowEnd, "GLYPH": cl.glyph, "NAME": cl.name};
							switch(enrolled){
								case 0:
									if(isPublic){
										classParameters.ISPUBLIC = 1;
										classParameters.STYLE = "display: none";
										classParameters.CLASS = "publicclass";
										enrolled = 3;
									}else{
										classParameters.ISNOTENROLLED = 1;
										classParameters.STYLE = "display: none";
										classParameters.CLASS = "notenrolledclass";
									}
								break;
								case 1:
									classParameters.ISENROLLED = 1;
									classParameters.CLASS = "enrolledclass";
								break;
								case 2:
									classParameters.ISTEACHER = 1;
									classParameters.CLASS = "teacherclass";
								break;
							}

							if(enrolled != currentTypeDisplayed){
								continue;
							}
							count++;

							template_classes.CLASSLIST.push(classParameters);
						}
					}
				}
				fetchContent("CLASSLIST", template_classes);
			}
		};

		var validationParamsEnroll = {
			apiURL: "api/StudentEnroll.php",
			method: "GET",
			alertOnSuccess: false,
			alertOnFail: false,
			callback: function(response){
				ajaxRequest("", validationParamsClassGetAll);
			}
		};

		var validationParamsUnenroll = {
			apiURL: "api/StudentUnenroll.php",
			method: "GET",
			alertOnSuccess: false,
			alertOnFail: false,
			callback: function(response){
				ajaxRequest("", validationParamsClassGetAll);
			}
		};

		function doEnroll(){
			validationParamsEnroll.apiURL = "api/StudentEnroll.php?classID="+enrollClassID;
			ajaxRequest("", validationParamsEnroll);
		}

		function doUnenroll(){
			validationParamsUnenroll.apiURL = "api/StudentUnenroll.php?classID="+enrollClassID;
			ajaxRequest("", validationParamsUnenroll);
		}


		ajaxRequest("", validationParamsClassGetAll);
	</script>
