<!--
<div id="footer" class='container'>
  <div class='navbar-collapse collapse'>
		<ul class="nav navbar-nav">
			<li><a href="#" id='AboutButton' onclick='fetchContent("ABOUT"); return false;'>{{HEADER_BUTTON_ABOUT}}</a></li>
		</ul>
  </div>
</div>

-->
