
			{{#IS_TEACHER}}
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-height col-full-height Cell NewInstanceButton'>
				<div tabindex="0" id='NewActivityButton' class="FormButton" onclick='fetchContent("NEWINSTANCE"); return false;'>
					<div class="FormButtonContent FormButtonDark">
						<span>{{INSTANCELIST_BUTTON_NEW_INSTANCE}}</span>
					</div>
				</div>
			</div>
			{{/IS_TEACHER}}
			<div class='col-lg-12 col-md-12 col-sm-12'>
			{{#ACTIVITYLIST}}
				{{{ROWSTART}}}
				<div class='col-lg-3 col-md-3 col-sm-3 col-xs-height col-full-height Cell InstanceEntry'>
						<div class='InstanceTile' style='width: 98%; height: 200px; position: relative; top: 0; left: 0;' >
							{{^IS_TEACHER}}
								<a class='InstanceListAction' href='javascript: openInstanceID = {{ID}}; fetchContent("PLAY");'>
									<div class='Middle ClassTileImageDiv' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; background: URL("{{GLYPH}}");
										background-size: 100%;
										background-position: 50% 50%;
										background-repeat: no-repeat;'>
									</div>
									<div class='Middle ClassTileOverlayDiv' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; opacity: 0;'>
									</div>
									<div class='Middle ClassTileTextDiv' style='width: 100%; position: absolute; top: 143px; left: 0; height: 53px; ' >
										<h3 class='InstanceName'>{{NAME}}</h3>
									</div>
								</a>
							{{/IS_TEACHER}}
							{{#IS_TEACHER}}
								<div class='Middle ClassTileImageDiv' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; background: URL("{{GLYPH}}");
									background-size: 100%;
									background-position: 50% 50%;
									background-repeat: no-repeat;'>
								</div>
								<div class='Middle ClassTileOverlayDiv' style='width: 100%; position: absolute; top:0; left: 0; height: 143px; opacity: 0;'>
									<div class='HoveringTileMenu' InstanceID="{{ID}}" tabindex="0" role="button"><img class='HoveringTileMenuImage' src='{{TEMPLATE_DIR}}/images/menu.svg'></div>
								</div>
								<a class='InstanceListAction' href='javascript: openInstanceID = {{ID}}; fetchContent("PLAY");'>
									<div class='Middle ClassTileTextDiv' style='width: 100%; position: absolute; top: 143px; left: 0; height: 53px; ' >
										<h3 class='InstanceName'>{{NAME}}</h3>
									</div>
								</a>
							{{/IS_TEACHER}}
						</div>
				</div>
				{{{ROWEND}}}
			{{/ACTIVITYLIST}}
			</div>

			<div id='HoveringMenu' class='HoveringMenu'>
				<div class='HoveringMenuEntry' onclick='fetchContent("PLAY");'>{{INSTANCELIST_MENU_OPEN_INSTANCE}}</div>
				<div class='HoveringMenuEntry' onclick='fetchContent("STATISTICS");'>{{INSTANCELIST_MENU_STATISTICS}}</div>
				<div class='HoveringMenuEntry' onclick='fetchContent("DELETEINSTANCE");'>{{INSTANCELIST_MENU_DELETE}}</div>
			</div>

			<script type='text/javascript'>
				UserCheck();

				$('.InstanceTile').hover(makeBigger, returnToOriginalSize);
				$('.InstanceListAction').parent().focusin(makeBigger);
				$('.InstanceListAction').parent().focusout(returnToOriginalSize);

				$(".HoveringTileMenu").click(function(e){
					openInstanceID = parseInt($(this).attr("InstanceID"));
					var x = e.pageX;
					var y = e.pageY;
					$("#HoveringMenu").css({"top": y, "left": x - 40}).show();
				}).mouseleave(function(){
					$("#HoveringMenu").hide();
				})

				$(".HoveringMenu").mouseenter(function(e){
					$("#HoveringMenu").show();
				}).mouseleave(function(){
					$("#HoveringMenu").hide();
				})

				function makeBigger() {
					//$(this).animate({height: '+=10', width: '+=10', margin: '-=5'});
					$(this).css({zIndex: 10});
					$(this).children("a").children(".ClassTileImageDiv").css({opacity: "0.5"});
					$(this).children("a").children(".ClassTileOverlayDiv").css({opacity: "0.8"});
					$(this).children(".ClassTileImageDiv").css({opacity: "0.5"});
					$(this).children(".ClassTileOverlayDiv").css({opacity: "0.8"});
					//$(this).css({zIndex: 10});
					//$(this).children(".ClassTileImageDiv").animate({height: "+=10", opacity: "0.3"});
					//$(this).children(".ClassTileOverlayDiv").animate({height: "+=10", opacity: "0.8"});
					//$(this).children(".ClassTileTextDiv").animate({top: "+=10"});
				}
				function returnToOriginalSize() {
					$(this).css({zIndex: 0});
					$(this).children("a").children(".ClassTileImageDiv").css({opacity: "1"});
					$(this).children("a").children(".ClassTileOverlayDiv").css({opacity: "0"});
					$(this).children(".ClassTileImageDiv").css({opacity: "1"});
					$(this).children(".ClassTileOverlayDiv").css({opacity: "0"});
					//$(this).animate({height: '-=10', width: '-=10', margin: '+=5'});
					//$(this).css({zIndex: 0});
					//$(this).children(".ClassTileImageDiv").animate({height: "-=10", opacity: "1"});
					//$(this).children(".ClassTileOverlayDiv").animate({height: "-=10", opacity: "0"});
					//$(this).children(".ClassTileTextDiv").animate({top: "-=10"});
				}


				//Tab + enter navigation
				$("#DeleteClassButton").keyup(function(event){
					if(event.keyCode == 13)
						$(this).click();
				});
				$('#NewActivityButton').keyup(function(event){
					if(event.keyCode == 13)
						$(this).click();
				});
			</script>
